* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(174, 219, 219);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 75px;
}

.first {
  color: darkblue;
}

#ffxiv-image {
  background-color: lightyellow;
}

#input-box {
  background-color: blueviolet;
}
